appnope==0.1.0; python_version >= "3.4" and sys_platform == "darwin" or sys_platform == "darwin"
asgiref==3.2.7
backcall==0.1.0
bleach==3.1.5
blessings==1.7
boto3==1.13.10
botocore==1.16.10
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
click-log==0.3.2
colorama==0.4.3; python_version >= "3.4" and sys_platform == "win32" or sys_platform == "win32"
coreapi==2.3.3
coreschema==0.0.4
coverage==5.1
cryptography==2.9.2
decorator==4.4.2
defusedxml==0.7.0rc1; python_version >= "3.0"
dj-database-url==0.5.0
django==3.0.6
django-braces==1.14.0
django-configurations==2.2
django-cors-headers==3.3.0
django-filter==2.2.0
django-model-utils==4.0.0
django-nose==1.4.6
django-oauth-toolkit==1.3.2
django-rest-framework-social-oauth2==1.1.0
django-storages==1.9.1
django-unique-upload==0.2.1
djangorestframework==3.11.0
docutils==0.15.2
factory-boy==2.12.0
faker==4.1.0
flake8==3.8.1
future==0.18.2
gitdb==4.0.5
gitpython==3.1.2
gunicorn==20.0.4
idna==2.9
invoke==1.4.1
ipdb==0.12.3
ipython==7.14.0
ipython-genutils==0.2.0
jedi==0.17.0
jeepney==0.4.3; sys_platform == "linux"
jinja2==2.11.2
jmespath==0.10.0
joblib==0.15.0; python_version > "2.7"
keyring==21.2.1
livereload==2.6.1
lunr==0.5.8
markdown==3.2.2
markupsafe==1.1.1
mccabe==0.6.1
mkdocs==1.1.2
mock==3.0.5
newrelic==5.12.1.141
nltk==3.5; python_version > "2.7"
nose==1.3.7
nose-progressive==1.5.2
oauthlib==3.1.0
packaging==20.3
parso==0.7.0
pexpect==4.8.0; python_version >= "3.4" and sys_platform != "win32" or sys_platform != "win32"
pickleshare==0.7.5
pkginfo==1.5.0.1
prompt-toolkit==3.0.5
psycopg2-binary==2.8.5
ptyprocess==0.6.0; python_version >= "3.4" and sys_platform != "win32" or sys_platform != "win32"
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
pygments==2.6.1
pyjwt==1.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.13.0
python-gitlab==1.15.0
python-semantic-release==6.3.1
python3-openid==3.1.0; python_version >= "3.0"
pytz==2019.3
pywin32-ctypes==0.2.0; sys_platform == "win32"
pyyaml==5.3.1
readme-renderer==26.0
regex==2020.5.14; python_version > "2.7"
requests==2.23.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0; platform_python_implementation == "CPython" and python_version < "3.9"
s3transfer==0.3.3
secretstorage==3.1.2; sys_platform == "linux"
semver==2.10.1
six==1.14.0
smmap==3.0.4
social-auth-app-django==3.1.0
social-auth-core==3.3.3
sqlparse==0.3.1
text-unidecode==1.3
toml==0.10.0
tornado==6.0.4
tqdm==4.46.0
traitlets==4.3.3
twine==3.1.1
uritemplate==3.0.1
urllib3==1.25.9
wcwidth==0.1.9
webencodings==0.5.1
wheel==0.34.2
whitenoise==5.0.1
